*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Open Sans', sans-serif;
}

.container{
  border: 1px solid red;
  width: 60%;
  margin: 0 auto;
}

.header{
  min-height: 30px;
  width: 100%;
  border: 1px solid red;
  position: fixed;
  background-color: white;
}

.jumbotron{
  width: 100%;
  min-height: 300px;
  border: 1px solid blue;
  margin: 0 auto;
  background-color: #b4d0e7;
}

.section-1{
  min-height: 600px;
  margin: 50px auto 30px auto;
}

.section-2{
  min-height: 100px;
}

.section-3{
  min-height: 200px;
  margin: 50px auto 0 auto;
}

.section-4{
  min-height: 500px;
  margin: 50px auto 50px auto;
}

.more{
  min-height: 100px;
  margin: 50px auto 50px auto;
}

.loghi{
  border: 1px solid red;
  min-height: 200px;
  width: 100%;
}

.cta{
  min-height: 150px;
  background-color: #b4d0e7;
}

.free-trial{
  min-height: 150px;
}

.faq{
  min-height: 300px;
  margin: 50px auto 50px auto;
}

.footer{
  min-height: 250px;
  background-color: black;
}