/* RESET */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* COMMON */
body{
  font-family: 'Open Sans', sans-serif;
}

.container{
  /* debug */
  border: 1px solid red;
  /* /debug */
  width: 60%;
  margin: 0 auto;
}

.flex{
  display: flex;
  flex-wrap: wrap;
}

img{
  max-width: 100%;
}

ul{
  list-style-type: none;
}

a{
  text-decoration: none;
  color: inherit;
}

.btn-primary{
  display: inline-block;
  text-decoration: none;
  background-color: blue;
  color: white;
  line-height: normal;
  padding: 0.4em 1em;
}

/* UTILITIES */
.justify-between{
  justify-content: space-between;
}

.margin-bottom{
  margin-bottom: 2rem;
}

.padding-bottom{
  padding-bottom: 2rem;
}

.padding-top{
  padding-top: 2rem;
}

/* HEADER */
.header{
  /* debug */
  /* min-height: 50px; */
  /* border: 1px solid red; */
  /* /debug */
  height: 60px;
  width: 100%;
  position: fixed;
  background-color: white;
  justify-content: space-between;
  /* padding: 0.8rem 0.8rem; */
  z-index: 1000;
  line-height: 60px;
}

#header-logo{
  vertical-align: middle;
}

.header ul{
  gap: 1rem;
}

.list-right{
  margin-left: 0.5rem;
}

.list-left{
  margin-right: 1rem;
}

/* SECTIONS */
/* jumbotron */
.jumbotron{
  /* debug */
  /* min-height: 300px; */
  border: 1px solid blue;
  /* /debug */
  /* width: 100%; */
  background-color: #b4d0e7;
}

.main-title{
  font-size: 3rem;
}

.large-container{
  width: 70%;
  margin: 0 auto;
  position: relative;
  top: 7rem;
  padding-bottom: 4rem;
}

.col-40{
  width: 40%;
  /* debug */
  /* min-height: 50px;
  background-color: #61092b; */
  /* /debug */
}

.annulla{
  margin-bottom: 7rem;
}

.col-60{
  width: 60%;
  /* debug */
  /* min-height: 50px;
  background-color: #61092b; */
  /* /debug */
}

.btn-arrow{
  font-size: 3rem;
  background-color: none;
}

/* Section-1 */
.section-1{
  /* debug */
  min-height: 600px;
  /* /debug */
  margin: 4rem auto 3rem auto;
}

.col{
  width: 30%;
  /* debug */
  /* border: 1px solid orange; */
  /* /debug */
}

.team{
  align-items: center;
  text-align: center;
  margin-top: 3rem;
  border: 1px solid lightgrey;
  padding: 0.5rem 0;
}

.col-70{
  width: 70%;
  /* border: 1px solid red; */
}

.col-70 h3{
  padding-bottom: 1rem;
}

.col-70 h5{
  padding-bottom: 3rem;
}

.col-30{
  width: 30%;
  /* border: 1px solid red; */
  text-align: center;
}

.enterprise{
  padding: 2rem;
}

/* Section-2 */
.section-2{
  /* debug */
  min-height: 150px;
  /* /debug */
}

.team{
  /* debug */
  border-bottom: 1px solid grey;
  min-height: 30px;
  /* /debug */
}

/* Section-3 */
.section-3{
  /* debug */
  /* min-height: 200px; */
  /* /debug */
  margin: 3rem auto 0 auto;
  align-items: flex-start;
}

.col-img{
  width: 60%;
  /* debug */
  /* border: 1px solid orange; */
  /* /debug */
}

.col-text{
  width: 40%;
  /* debug */
  /* border: 1px solid orange; */
  /* /debug */
  padding-left: 1.5rem;
}

.col-text h2{
  padding-top: 1.5rem;
}

.col-text p{
  padding: 1.5rem 0 1.5rem;
}

.col-text button{
  background-color: white;
  border: 1px solid black;
  padding: 0.8rem;
}

/* Section-4 */
.section-4{
  /* debug */
  min-height: 500px;
  /* /debug */
  margin: 3rem auto 3rem auto;
}

.dropbox-business{
  margin-bottom: 5rem;
}
.section-4 h2{
  padding-bottom: 1.5rem;
}

.h3-dropbox-business{
  padding-bottom: 30px;
}

.dropbox-business span{
  text-decoration: underline;
  color: blue;
}

.dropbox-business h2{
  padding-bottom: 3rem;
}

/* loghi */
.loghi{
  /* debug */
  border: 1px solid red;
  /* /debug */
  width: 100%;
  height: 350px;
}

.big-square{
  width: calc(100% / 3);
  border: 1px solid pink;
}

.square-text{
  overflow: scroll;
  padding: 2rem;
  background-color: #ffffff;
  height: 100%;
}

.square-text img{
  width: 50%;
}

.square-text hr{
  width: 20%;
  margin: 1.5rem 0;
  color: grey;
}

.square-text p{
  font-size: 0.8rem;
}

.author{
  padding-top: 1.5rem;
}

.small-square{
  width: calc(100% / 2);
  height: calc(350px / 2);
  border: 1px solid pink;
  justify-content: center;
  align-items: center;
}

.small-square img{
  filter: invert(100%);
  width: 50%;
  text-align: center;
}

.ss1{
  background-color: #a2d39b;
  border: 5px solid #d1e9cd;
}

.ss2{
  background-color: #61092b;
}

.ss3{
  background-color: #0193ce;
}

.ss4{
  background-color: #fe1c1d;
}

.ss5{
  background-color: #d5021f;
}

.ss6{
  background-color: #b4d0e7;
}

.ss7{
  background-color: #0d2481;
}

.ss8{
  background-color: #ffd830;
}

/* cta */
.cta{
  /* debug */
  min-height: 150px;
  /* /debug */
  background-color: #b4d0e7;
}

.free-trial{
  /* debug */
  min-height: 150px;
  /* /debug */
  justify-content: space-between;
  align-items:baseline;
  padding: 5rem 0;
}

.col-50{
  width: 50%;
}

.free-trial button{
  padding: 0.8rem 1rem;
  border: none;
  width: 100%;
  background-color: #ffffff;
}

.free-trial h2{
  color: #61092b;
}

/* faq */
.faq{
  /* debug */
  min-height: 300px;
  /* /debug */
  margin: 3rem auto 3rem auto;
}

/* FOOTER */
.footer{
  /* debug */
  /* min-height: 200px; */
  /* /debug */
  background-color: black;
  /* padding: 1.4rem; */
  /* height: 1000px; */
  
}

.large-container-footer{
  padding-top: 4rem;
  width: 70%;
  margin: 0 auto;
  gap: 2.5rem;
}

.footer ul{
  margin: 0 auto;
  color: white;
}

.footer h2{
  padding-bottom: 1rem;
}

.footer li{
  padding-bottom: 1rem;
}

.language{
  align-items: center;
  gap: 5px;
  font-weight: 300;
  padding-top: 3rem;
  color: grey;
  padding-bottom: 3rem;
}

.footer-end{
  width: 70%;
  margin: 0 auto;
  margin-top: 7rem;
}

.footer-end hr{
  width: 15%;
}