/* RESET */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* COMMON */
body{
  font-family: 'Open Sans', sans-serif;
}

.container{
  /* debug */
  border: 1px solid red;
  /* /debug */
  width: 60%;
  margin: 0 auto;
}

.flex{
  display: flex;
  flex-wrap: wrap;
}

img{
  max-width: 100%;
}

ul{
  list-style-type: none;
}

a{
  text-decoration: none;
  color: inherit;
}

/* UTILITIES */
.justify-between{
  justify-content: space-between;
}

.margin-bottom{
  margin-bottom: 2rem;
}

.padding-bottom{
  padding-bottom: 2rem;
}

.padding-top{
  padding-top: 2rem;
}

/* HEADER */
.header{
  /* debug */
  min-height: 50px;
  /* border: 1px solid red; */
  /* /debug */
  width: 100%;
  position: fixed;
  background-color: white;
  justify-content: space-between;
  padding: 0.8rem 0.8rem;
}

.header ul{
  gap: 1.3rem;
}

.list-right{
  margin-left: 2rem;
}

.menu-left button{
  background-color: blue;
  color: white;
  margin-left: 1.4rem;
  padding: 0.4rem 0.7rem;
}

.menu-left, .menu-right{
  align-items: center;
}

/* SECTIONS */
/* jumbotron */
.jumbotron{
  /* debug */
  /* min-height: 300px; */
  border: 1px solid blue;
  /* /debug */
  /* width: 100%; */
  background-color: #b4d0e7;
}

.large-container{
  padding-top: 5rem;
  width: 70%;
  margin: 0 auto;
}

.col-40{
  width: 40%;
  /* debug */
  /* min-height: 50px;
  background-color: #61092b; */
  /* /debug */
}

.col-60{
  width: 60%;
  /* debug */
  /* min-height: 50px;
  background-color: #61092b; */
  /* /debug */
}

.col-40 i{
  font-size: 3rem;
  padding-bottom: 1rem;
  padding-top: 3rem;
}

.col-40 a{
  color: white;
  background-color: blue;
  padding: 0.8rem 1rem;
}

/* Section-1 */
.section-1{
  /* debug */
  min-height: 600px;
  /* /debug */
  margin: 4rem auto 3rem auto;
}

.col{
  width: 30%;
  /* debug */
  border: 1px solid orange;
  /* /debug */
}

.team{
  align-items: center;
  text-align: center;
  margin-top: 3rem;
  border: 1px solid lightgrey;
  padding: 0.5rem 0;
}

.col-70{
  width: 70%;
}

.col-30{
  width: 30%;
}

/* Section-2 */
.section-2{
  /* debug */
  min-height: 150px;
  /* /debug */
}

.team{
  /* debug */
  border-bottom: 1px solid grey;
  min-height: 30px;
  /* /debug */
}

.row{
  justify-content: space-between;
  align-items: flex-start;
}

.enterprise{
  padding: 1.5rem 1.5rem;
}

.enterprise h2{
  padding-bottom: 0.7rem;
}

.enterprise h5{
  padding-bottom: 3rem;
}

.col-50{
  border: 1px solid pink;
}
.col-50 a{
  color: white;
  background-color: blue;
  padding: 0.6rem 1.5rem;
}

/* Section-3 */
.section-3{
  /* debug */
  /* min-height: 200px; */
  /* /debug */
  margin: 3rem auto 0 auto;
  align-items: flex-start;
}

.col-img{
  width: 60%;
  /* debug */
  /* border: 1px solid orange; */
  /* /debug */
}

.col-text{
  width: 40%;
  /* debug */
  /* border: 1px solid orange; */
  /* /debug */
  padding-left: 2rem;
}

.col-text p{
  padding: 1.5rem 0 1.5rem;
}

.col-text button{
  background-color: white;
  border: 1px solid black;
  padding: 0.8rem;
}

/* Section-4 */
.section-4{
  /* debug */
  min-height: 500px;
  /* /debug */
  margin: 3rem auto 3rem auto;
}

/* more */
.dropbox-business{
  /* debug */
  /* min-height: 100px; */
  /* /debug */
  margin: 3rem auto 3rem auto;
}

.dropbox-business span{
  text-decoration: underline;
  color: blue;
}

.dropbox-business h2{
  padding-bottom: 3rem;
}

/* loghi */
.loghi{
  /* debug */
  border: 1px solid red;
  min-height: 200px;
  /* /debug */
  width: 100%;
}

/* cta */
.cta{
  /* debug */
  min-height: 150px;
  /* /debug */
  background-color: #b4d0e7;
}

.free-trial{
  /* debug */
  min-height: 150px;
  /* /debug */
  justify-content: space-between;
  align-items:baseline;
}

.free-trial button{
  padding: 0.8rem 1.8rem;
  border: none;
}

.free-trial h2{
  color: #61092b;
}

/* faq */
.faq{
  /* debug */
  min-height: 300px;
  /* /debug */
  margin: 3rem auto 3rem auto;
}

/* FOOTER */
.footer{
  /* debug */
  min-height: 200px;
  /* /debug */
  background-color: black;
  color: white;
}

.footer ul{
  padding: 1.4rem;
  margin: 0 auto;
}